body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background: #333;
  padding: 10px;
  margin-bottom: 40px auto;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

section {
  height: 100vh;
  padding: 80px 20px;
  /* to stop navbar from covering section titles */
  scroll-margin-top: 80px;
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
}

#about {
  background: #ddd;
}
#experience {
  background: #f4f4f4;
}

/* project section */
/*
*/
#projects {
  background: #bbb;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* this makes each box expand uniquely */
  align-items: flex-start;
}

.project {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project a {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

.project button {
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.project button:hover {
  background: #555;
}

.hidden {
  display: none;
}

.details {
  margin-top: 10px;
  transition: all 0.3s ease;
}

/* contact form */
/*
*/
#contact {
  height: auto;
  background: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactForm {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contactForm div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
}

fieldset label {
  display: inline;
  margin-left: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  /* able to resize */
  resize: vertical;
}

textarea:focus {
  border-color: #333;
  outline: none;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"] {
  background: #333;
  color: white;
}

input[type="reset"] {
  background: #ccc;
}

input[type="submit"]:hover {
  background: #555;
}

input[type="reset"]:hover {
  background: #aaa;
}
